.card{
    margin: 10px;
    border-radius: 10px;
   overflow: hidden;
   transition:transform 100ms ease-in;
   cursor: pointer;
   box-shadow: 0px 6px 18px -9px rgb(0, 0,0.75);

}
.card:hover{
    transform:scale(1.02)
}
.card >img{
    object-fit: fill;
    min-width: 300px;
    min-height: 200px;
    width: 100%;
}
.card_info{
    padding-top: 20px;
    margin-top: -10px;
    border-radius: 10px;
    padding:20px;
   
}
