.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgb(138, 135, 135);
}
.header_img {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header_center {
  display: flex;
  flex: 1;
  padding: 10px;
  max-width: fit-content;
  align-items: center;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 40px;
}

.header_center > input {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.header_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

@media (max-width: 750px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
