.mains{
    text-align: center;
    justify-content: center;
    display: flex;
   
    height: 100vh;
    
}
.sub-mains{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    width: 350px;
   
    padding-top: 30px;
    border-radius: 10px;
    
    margin-top: 30px;
    border: 2px solid black;

}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
header{
    font-size:20px;
    font-weight: bolder;
}
